body.index_page{
    display:flex;
}
.signup{
    width: 200px;
    background-color: rgb(173, 236, 236);
    margin: 0.5rem;
}
.signin{
    width: 200px;
    background-color: rgb(234, 236, 225);
    margin-left: 6rem;

    
}

/* Homepage */
.container{
    border: 1px solid black;
    display:flex
}
.conversation_list{
    margin: 1rem;
    border: 1px solid black;
    background-color: rgba(243, 233, 220, 0.514)
}
.a_conversation{
    margin: 1rem;
    border: 1px solid black;
    background-color: rgba(242, 241, 248, 0.514)
}
.a_conversation:hover{
    background-color:grey
}
.a_chat{
    margin: 3rem;
    border: 1px solid black;
    background-color: rgba(243, 233, 220, 0.514)
}

.searchBar{
    width: 100px;
    height: 50px;
}

div.sender{
    text-align: right;
}

div.receiver{
    text-align: left;
}